NEXT_PUBLIC_SUPABASE_URL=https://TVOJ_PROJEKAT.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tvoj_anon_key
SUPABASE_SERVICE_ROLE_KEY=tvoj_service_role_key
RESEND_API_KEY=re_tvoj_api_key
FROM_EMAIL=rezervacije@tvojdomen.com
ADMIN_EMAIL=tvoj@email.com
NEXT_PUBLIC_SITE_URL=https://tvojsajt.vercel.app
